

{%block content%}
<div id =wrapper>
    <div id ="sidebar-nav mb-4">
        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action active">
              Smart Business App
            </a>
            <a href="/" class="list-group-item list-group-item-action list-group-item-dark">Deshboard</a>
            <a href="getCompanies" class="list-group-item list-group-item-action list-group-item-dark">View Companies</a>
            <a href="add_companies" class="list-group-item list-group-item-action list-group-item-dark">Add Company</a>
            <a href="prediction" class="list-group-item list-group-item-action list-group-item-dark">Pridict Sales</a>
            <a href="/" class="list-group-item list-group-item-action list-group-item-dark">Logout</a>
          </div>
</div>
</div>

{% endblock %}