

{%block content%}
<div id =wrapper>
    <div id ="sidebar-nav mb-4">
        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action active">
              Smart Business App
            </a>
            <a href="home" class="list-group-item list-group-item-action list-group-item-dark">Deshboard</a>
            <a href="business" class="list-group-item list-group-item-action list-group-item-dark">companies</a>
            <a href="connection" class="list-group-item list-group-item-action list-group-item-dark">Connection</a>
            <a href="feed" class="list-group-item list-group-item-action list-group-item-dark">Feed</a>
            <a href="profile" class="list-group-item list-group-item-action list-group-item-dark">Profile</a>
            <a href="logout" class="list-group-item list-group-item-action list-group-item-dark">Logout</a>
          </div>
</div>
</div>

{% endblock %}